# ignore Dataset in Keras
/Machine learning models/Deep learning in python/Keras/Dataset/*.csv

# ignore dataset in Fundamentals
/Machine learning models/Deep learning in python/Fundamentals/Dataset/*.csv
/Machine learning models/Deep learning in python/Fundamentals/Dataset/*.txt